body {
    background-color: rgb(44, 43, 43);
    text-decoration: none;
}

#img1 {
    margin-top: 20px;
    margin-left: 10px;
    height: 600px;
    width: 420px;
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 150px;
}

#heading1 {
    border: 5 px solid rgb(196, 174, 174);
    text-align: center;
    color: rgb(223, 229, 147);
}

#para1 {
    color: white;
    width: 22%;
    float: right;
    border: 2px solid white;
    padding: 30px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 10px;
    border-radius: 8px;
    margin-right: 150px;
    text-align: center;
}

#para2 {
    float: inline-start;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

#para2 h3 {
    color: rgb(223, 229, 147);
}

#para1 h3 {
    color: rgb(223, 229, 147);
}

#trailer h3 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(223, 229, 147);
    text-align: center;
    margin-bottom: 1mm;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
}